<!DOCTYPE html>
<html lang="en" dir="ltr">

    {{ partial "header.html" . }}
    <body class="is-loading">

    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Header -->
          <header id="header">
            <div class="logo">
              {{ with .Site.Params.logoimage }}
              <img src="{{ . }}" width="100%" style="padding: 10px 10px 10px 10px;">
            {{ end }}
            {{ with .Site.Params.logo }}
              <span class="icon {{ . }}"></span>
            {{ end }}
            </div>
            <div class="content">
              <div class="inner">
                <h1>{{ .Site.Title | safeHTML }}</h1>
                <p>{{ .Site.Params.description | safeHTML }}</p>
              </div>
            </div>
            <nav>
              <ul>
                {{ range .Data.Pages.ByWeight }}
                    {{ if not .Params.hide }}
                      <li>
                          {{ if .GetParam "menuname" }}
                          <a href="{{ index .Params "link" }}"
                            {{else}}<a href="#{{ .File.TranslationBaseName }}"
                            {{end}}>
                            {{ if .GetParam "menuname" }}
                                {{ .GetParam "menuname" }}
                            {{ else }}
                                {{ .Title }}
                            {{ end }}
                            </a>
                        </li>
                        {{ end }}
                {{ end }}
              </ul>
            </nav>
          </header>

        <!-- Main -->
          <div id="main">
            {{ range .Data.Pages }}
              {{ .Render "onepagestyle" }}
            {{ end }}
          </div>

        <!-- Multilanguage -->
          <div id="languages">
            {{ if .IsTranslated }}
              {{ range $i, $e := .Translations }}
                {{ if $i }}, {{ end }}<a href="{{ .Permalink }}">{{ $e.Language.LanguageName }}</a>
              {{ end}}
            {{ end }}
          </div>
          <ul class="icons">
          {{ range .Site.Params.social }}
          	<li><a href="{{ .link | safeURL }}" target="_blank" class="icon fa-{{ .icon }}"><span class="label">{{ .medium }}</span></a></li>
          {{ end }}
          </ul>
    {{ partial "footer.html" . }}

    <div id="loader-container">
      <svg id="loader" width="100px" height="100px" viewBox="-3 -4 39 39">
        <polygon fill="#000" stroke="#EFEFEF" stroke-width="1" points="16,0 0,16 8,24 8,16"></polygon>
        <polygon fill="#000" stroke="#EFEFEF" stroke-width="1" points="16,32 32,16 24,8 24,16"></polygon>
      </svg>
    </div>
  
</body>
</html>
